@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
}
body {
    background-color:#fff;
    font-family: 'Roboto Condensed', 'sans-serif';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    min-height: 500vh;
    max-Width: 100vw;
    font-family: 'Roboto Condensed', 'sans-serif';
}
.section {
    height: 100vh;
    width: 100vw;
    /* display: flex; */
    border-bottom: 3px solid black;
}
header {
    width: 100%;
    display:flex;
    text-align: right;
    

}
nav {
    
    margin-top: 2%;
    margin-right: 1%;
    
    width: 100%;
}
nav a {
    border: 2px solid #000;
    transition: all 0.8s ease;
    padding: 1em 1.5em;
    text-decoration: none;
    color: #000;
    background-color: #FFF;
    border-radius: 5px;
    margin-left: 2%;
    font-size: 1em;
    text-transform: uppercase;
    /* transition: all .5s ease;
    color: #fff;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : #000;
    padding: 10px;
    outline: none;
    border-radius: 4px; */
}
nav a:hover {
    color: #FFF;
    background-color: #000;
}

#last {
    margin-right: 1%;
}

.sectionTitle {
    text-align: center;
    margin-top: 30px;
}
.comingSoon {
    font-size: 5em;
    align-self: center;
    margin-top: 20%;
}

/* homepage */

#homepage {
    background-image: url(./images/node.jpg);
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
#welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    min-height:10vh;
    /* border: 1px solid #000; */
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    padding: 0px 50px 0px 50px;
    border-radius: 15px;
}
#welcomeMessage {
    font-size: 4em;
    padding: 0;
    margin-bottom: 0px;
}
#traits {
    text-align: center;
    font-size: 2em;
    margin-top: 0px;
}
@keyframes fadeInOut {
    0% { opacity: 0;}
    16.666% { opacity: 1;}
    83.333% { opacity: 1;}
    100% { opacity: 0;}
}

#traits {
    animation: fadeInOut 3000ms 5;
}

.sidebar {
    /* border: 1px solid #000; */
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    top:35%;
    z-index: 2;
}
.sidebar div {
    margin-bottom: 100%;
}
.sidebar a {
    text-decoration: none;
    color: inherit;
}
.sidebar div .uil {
    font-size: 45px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.sidebar div .uil:hover {
    color: rgb(213, 27, 27);
}
/* about me page */

#aboutMeContent {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #000; */
    max-width: 80%;
    min-height: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}
#pic-container {
    margin-top: 10px;
    align-self: center;
}

#aboutMeContent a {
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    max-width: 70px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    align-self: center;
    justify-self: right;
    
}
#aboutMeContent a:hover {
    color: #FFF;
    background-color: #000;
    transition: all 0.8s ease;
}

#aboutMeText {
    width: 95%;
    align-self: center;
}

/* skills page */
#skills {
    
}

#skillGrid {
    /* background-color: lightgray; */
    margin-top: 3%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 2%; */
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid #000; */
    max-width: 80%;
    min-height: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.skillName {
    visibility: hidden;
}
.skill:hover .skillName {
    visibility: visible;
}

.skill img {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    filter: grayscale(50%);
    transition: ease-in-out 0.2s;
}
.skill:hover img { 
    filter: grayscale(0%);
}

#LinkdInPPIMG {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

/* project page */

#carouselContainer {
    margin-left: 10%;
    display: flex;
    
    /* border: 1px solid #000; */
    max-width: 80%;
    min-height: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

#projectCarousel {
    margin-left: 10%;
    display: flex;
    border: 1px solid #000;
    margin-top: 10%;   
    min-width: 80%;
    max-height: 600px;
    
    border-radius: 10px;
}





/* contact page */

#contactContent {
    margin-top: 50px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #000; */
    max-width: 80%;
    min-height: 70%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}
#contactInfo {
    display: flex;
    min-height: 100px; 
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}
/* #contactForm {
    
    align-self: center;
    width: 100%;
} */
#collaborate  {
    padding-top: 50px;
    align-self: center;
}

.boxes {
    width: 30%;
    height: 100%;
    /* border: solid 1px gold; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circles {
    width: 80px;
    height: 80px;
    border: solid black 1px;
    border-radius: 100%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-size:30px;
}


form {
    width: 90%;
    min-height: 50%;
    padding-top: 0px;
    /* border: solid 1px blue; */
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-self: center;
}

form input {
    width: 80%;
    padding: 10px;
    padding-left: 20px;
    text-decoration: none;
    outline: none;
    border: rgb(216, 216, 216) solid 1px;
    margin-bottom: 20px;
}
form textarea {
    width: 100%;
    height: 130px;
    outline: none;
    padding: 10px;
    border: rgb(216, 216, 216) solid 1px;
    resize: none;
}
#leftSide {
    width: 50%;
    height: 100%;
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#rightSide {
    width: 55%;
    height: 100%;
    /* border: solid 1px green; */
}
#submit {
    border: 2px solid #000;
    transition: all 0.8s ease;
    padding: 1em 1.5em;
    text-decoration: none;
    color: #000;
    background-color: #FFF;
    border-radius: 5px;
    margin-left: 2%;
    font-size: 1em;
    text-transform: uppercase;
}
#submit:hover {
    color: #FFF;
    background-color: #000
}
footer {
    /* position: absolute;
    bottom: 0px;
    height: 50px; */
    text-align: center;
}






